<section>
    <div class="bg-gray-100 border border-transparent w-[60%] mx-auto rounded my-8 p-5">
        <h1 class="text-3xl text-green-600 my-4 text-center">Login Now</h1>

        <div>
            <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
                
            <div class="relative mt-7">
                <input type="email" id="email" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm  border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-300 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " 
                formControlName="email" />
                
                <label for="email" class="absolute text-sm text-gray-500 dark:text-gary-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
            </div>
            @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
                <div class="text-red-600">
                    @if (loginForm.get('email')?.getError('required')) {
                        <p>name is required</p>
                    }
                    @if (loginForm.get('name')?.getError('email')) {
                        <p>email pattern is inavalid</p>
                    }
            
                </div>
            }
            <div class="relative mt-7">
                <input type="password" id="password" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm  border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-300 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " 
                formControlName="password"/>
                
                <label for="password" class="absolute text-sm text-gray-500 dark:text-gary-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Password</label>
            </div>
            @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {
                <div class="text-red-600">
                    @if (loginForm.get('password')?.getError('required')) {
                        <p>password is required</p>
                    }
                    @if (loginForm.get('password')?.getError('pattern')) {
                        <p>enter avalid password</p>
                    }
                    
                    
            
                </div>
            }


            
            <button type="submit" class="btn my-5">Login Now
                @if (isLoading) {
                    <i class="fas fa-spinner"></i>
                }
            </button>
            <p class="text-red-600 text-center">{{errMsg}}</p>
            </form>
            <div>
                <a class="text-green-600 hover:underline" routerLink="/resetPassword">Forget Password ...?</a>
            </div>
        </div>
    </div>
</section>