<!-- forgetPassword section -->
@if (step == 1) {
    <section id="forgetPassword">
         <div class="bg-gray-100 border border-transparent w-[60%] mx-auto rounded my-8 p-5">
                 <h1 class="text-3xl text-green-600 my-4 text-center">Forget Password</h1>
             <div>
                 <form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForgetForm()">
                     <div class="relative mt-7">
                         <input type="email" id="email" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm  border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-300 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " 
                         formControlName="email" />
                         <label for="email" class="absolute text-sm text-gray-500 dark:text-gary-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
                     </div>
                     @if (forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched) {
                         <div class="text-red-600">
                             @if (forgetPasswordForm.get('email')?.getError('required')) {
                                 <p>email is required</p>
                             }
                             @if (forgetPasswordForm.get('name')?.getError('email')) {
                                 <p>email pattern is inavalid</p>
                             }
                         </div>
                     }
                     <button type="submit" class="btn my-5">Send Email
                         @if (isLoading) {
                             <i class="fas fa-spinner"></i>
                         }
                     </button>
                     <p class="text-red-600 text-center">{{errMsg}}</p>
                 </form>
             </div>
         </div>
    </section>

}

<!-- forgetPassword section -->
@if (step == 2) {
    <section id="resetCode">
         <div class="bg-gray-100 border border-transparent w-[60%] mx-auto rounded my-8 p-5">
                 <h1 class="text-3xl text-green-600 my-4 text-center">Reset Code</h1>
             <div>
                 <form [formGroup]="resetCodeForm" (ngSubmit)="submitCodeForm()">
                     <div class="relative mt-7">
                         <input type="text" id="resetCode" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm  border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-300 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " 
                         formControlName="resetCode" />
                         <label for="resetCode" class="absolute text-sm text-gray-500 dark:text-gary-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">
                            Reset Code</label>
                     </div>
                     @if (resetCodeForm.get('resetCode')?.errors && resetCodeForm.get('resetCode')?.touched) {
                         <div class="text-red-600">
                             @if (resetCodeForm.get('resetCode')?.getError('required')) {
                                 <p>Reset Code Is Required</p>
                             }
                             @if (resetCodeForm.get('resetCode')?.getError('pattern')) {
                                 <p>Enter Avalid Reset Code</p>
                             }
                         </div>
                     }
                     <button type="submit" class="btn my-5">Send Code
                         @if (isLoading) {
                             <i class="fas fa-spinner"></i>
                         }
                     </button>
                     <p class="text-red-600 text-center">{{errMsg}}</p>
                 </form>
             </div>
         </div>
    </section>

    }

<!-- forgetPassword section -->
@if (step == 3) {
    <section id="resetPassword">
        <div class="bg-gray-100 border border-transparent w-[60%] mx-auto rounded my-8 p-5">
            <h1 class="text-3xl text-green-600 my-4 text-center">Login Now</h1>
            <div>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="submitNewPasswordForm()">
                    
                <div class="relative mt-7">
                    <input type="email" id="email" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm  border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-300 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " 
                    formControlName="email"/>
                    
                    <label for="email" class="absolute text-sm text-gray-500 dark:text-gary-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email</label>
                </div>
                @if (resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched) {
                <div class="text-red-600">
                        @if (resetPasswordForm.get('email')?.getError('required')) {
                            <p>name is required</p>
                        }
                </div>
                }
                <div class="relative mt-7">
                    <input type="password" id="newPassword" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm  border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-300 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " 
                    formControlName="newPassword"/>
                    
                    <label for="newPassword" class="absolute text-sm text-gray-500 dark:text-gary-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">newPassword</label>
                </div>
                @if (resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched) {
                <div class="text-red-600">
                        @if (resetPasswordForm.get('newPassword')?.getError('required')) {
                            <p>password is required</p>
                        }
                </div>
                }
                <button type="submit" class="btn my-5">Reset Password
                    @if (isLoading) {
                        <i class="fas fa-spinner"></i>
                    }
                </button>
                <p class="text-red-600 text-center">{{errMsg}}</p>
                </form>
            </div>
        </div>
    
    </section>
    
}